h1, p {

    font-family: 'Roboto';

}

h1 {
    padding-left: 1vw;
    margin-top: 0.5vh;
}

p {
    padding-left: 1vw;
    margin-top: 3vh;
    font-size: 2rem;
}

.categories-pos {
    color: #029923
}

.categories-neg {
    color: #990b02;
}