.dashboard-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F1F1F1;
}

.app-bar {
    height: 7vh;
    width: 100vw;
    display: flex;
    flex-direction: row; 
}


.content-page-container {
    display: flex;
    flex-direction: row;
    height: 93.5vh;
    width: 100vw;
}

.dashboard-drawer {
    display: flex;
    flex-direction: column;
    width: 20vw;
}


.content-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin-top:2vh;
    margin-bottom: 2vh;
    margin-right: 1.4vw;
    margin-left:2vw;
}